* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #131313;
    overflow: hidden;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 90px;
    text-align: center;
    color: cyan;
}

.clock {
    display: flex;
}

.clock div {
    margin: 10px;
    position: relative;
}

.clock div span {
    width: 200px;
    height: 200px;
    background: green;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.826);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.clock div .text {
    height: 60px;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: darkblue;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.clock div #ampm {
    position: absolute;
    bottom: 0;
    width: 100px;
    height: 60px;
    font-size: 30px;
    font-weight: 600;
    border-radius: 5px;
}